body {
  font-family: 'Courier New', monospace;
  background-color: #2b2b2b;
  color: #fff;
  margin: 0;
  padding: 0;
}

#container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  max-width: 600px;
}

#description {
  font-style: italic;
  color:#bebcbc;
  margin-top: 10px;
}

h1 {
  color: #47e0e8;
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
  color: #ddd;
}

span, ul {
  color: #c17b0b;
  font-weight: bold;
}

p:hover {
  background-color: #333;
  transition: background-color 0.3s ease-in-out;
}